@import  'app/scss/reset';
@import  'app/scss/fonts';
@import  'app/scss/vars' ;
@import  'app/scss/global'; 
@import  'app/scss/libs';


@import  'app/scss/header'; 
@import  'app/scss/top'; 
@import  'app/scss/popiral-category'; 
@import  'app/scss/footer'; 
@import  'app/scss/slider'; 
@import  'app/scss/select'; 
@import  'app/scss/ready-compositions'; 


/*npm uninstall*/


/* @extend %quicksand-600 */











/* %quicksand-600 */













/* display: grid;
-ms-grid-columns: (1fr)[3];
grid-template-columns: repeat(3, 1fr);
grid-gap: 45px 30px;
 */




